div#flex_container {
	display: flex;
}
div.flex_column {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}


div.link_to_character {
	display: flex;
	width: 100%;
	margin: 1%;
	border: 5px solid #222;
	border-radius: 10px;
	padding: 20px;
	text-decoration: none;
	background-color: #000;
	cursor: pointer;
}
div.link_to_character:hover {
	background-color: #333;
}
div.link_to_character > div.text {
	width: 80%;
	margin-left: 5%;
	font-size: 1.2em;
}
div.link_to_character > img {
	width: 200px;
	height: 150px;
	object-fit: cover;
	object-position: 0% 0%;
	border: 2px solid #222;
	padding: 5px;
}
div.link_to_character.alice > img {
	object-position: -15px 10px;
}


main > section > p {
	text-indent: 1.25em;
}
main > section {
	margin: 0px 15px;
	padding-left: 6px;
}
section > h2 {
	margin: 0;
	margin-top: 30px;
}
h2#char_name {
	margin: 10px 0;
	padding-left: .1em;
	font-size: 1.8em;
	letter-spacing: .1em;
}
section > hr {
	margin-bottom: 20px;
	border-color: #222;
}


q.lorebook {
	display: block;
	width: 65%;
	margin: 15px;
	margin-right: 0;
	border-radius: 15px;
	border-left: 3px solid white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 20px;
	background-color: rgba(5, 5, 10, 1);
	font-size: 1.15em;
}


section.bio > figure {
	float: right;
	width: 30%;
 	background-color: rgba(15, 15, 20, 0.5);
 	border: 2px solid #777;
 	border-radius: 10px;
 	padding: 15px 0;
}
section.bio > figure > img, section.bio > figure > figcaption {
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}
section.bio > figure > img {
	display: block;
	padding: 15px;
}
section.bio > figure > figcaption {
	text-align: center;
	width: 80%;
}


img#alice {
	width: 65%;
}
img#jane {
	width: 85%;
}
img#pandemonica, img#willow {
	width: 70%;
}
div#alice_official_skins, div#alice_dlc_skins, div#willow_skins {
	text-align: center;
	margin: 20px 0;
}
.image_table_row {
	float: left;
}
.image_table_row > img {
	background-color: #141414;
	border: 2px solid gray;
	border-radius: 15px;
	padding: 10px;
	cursor: pointer;
}
.image_table_row > img:hover {
	background-color: #999;
}
div#alice_official_skins > .image_table_row {
	width: 20%;
}
div#alice_dlc_skins > .image_table_row {
	width: 16.6%;
}
div#alice_official_skins > .image_table_row > img {
	width: 51%;
}
div#alice_dlc_skins > .image_table_row > img {
	width: 60%;
}
div#willow_skins > .image_table_row {
	width: 14.2%;
}
div#willow_skins > .image_table_row > img {
	width: 85%;
}
.image_table_row > img + p {
	display: inline-block;
	font-size: 1.1em;
	margin-bottom: 20px;
	width: 50%;
}
em.image_caption {
	font-size: .9em;
}
.clear_float {
	clear: both;
}


div#image_container {
	position: fixed;
	display: none;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.95);
}
img.image_fullscreen.willow, img.image_fullscreen.alice {
	background-color: black;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}
img.image_fullscreen.willow {
	padding: 50px;
	margin-top: 12.5%;
	width: 25%;
	height: auto;
}
img.image_fullscreen.alice {
	padding: 30px;
	margin-top: 3.5%;
	width: 18%;
	height: auto;
}