* {
	box-sizing: border-box;
}
body {
	background: #232427 url(../files/background-2.jpg) bottom center no-repeat fixed;
	background-size: cover;
	color: #eee;
	font: 14px/1.5 "Verdana", "Arial", sans-serif;
	margin: 0 0.4%;
	padding: 0;
}
header, h1, main > h2, main > h3, footer {
	text-align: center;
}
main {
	background-color: rgba(16, 16, 20, 0.85);
	margin: 1% 2%;
	border: 3px solid #444;
	border-radius: 5px;
	padding: 2% 3%;
}
h2#title {
	font-size: 1.5em;
}
h3 {
	font-size: 1.4em;
}

/* New header layout, that uses flexbox */
header {
	width: 90%;
	height: 70px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header > h1, header > nav {
	align-self: center;
}
header > h1 {
	font-size: 2.4em;
}
header > nav {
	font-size: 1.2em;
}

/* Old header layout, that used positioning */
/*header {
	height: 70px;
	position: relative;
}
header > h1, header > nav {
	position: absolute;
}
header > h1 {
	font-size: 2.4em;
	left: 40px;
	top: -12px;
}
header > nav {
	font-size: 1.25em;
	right: 20px;
	top: 28px;
	white-space: nowrap;
	overflow: auto;
}*/

aside {
	display: none;
}

abbr {
	cursor: help;
}
.header_hr, .footer_hr, .gallery_hr {
	width: 98%;
	border-color: #aaa;
	border-radius: 50%;
}
a {
	font-weight: bold;
	text-decoration-line: none;
}
a#index_link, a#index_link:visited {
	color: #eee;
}
a#index_link:hover {
	color: #aaa;
}
nav > a {
	display: inline-block;
}
nav > a, a.back_link {
	color: #c1c1c1;
	padding: 4px 8px 4px 8px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 15px;
}
nav > a:visited, a.back_link:visited {
	color: #bbb;
}
h2 > a:visited, p > a:visited, li > a:visited {
	color: #888;
}
nav > a:hover, a.back_link:hover{
	background-color: white;
	color: black;
}
h2 > a, p > a, li > a {
	transition: .1s;
	color: #777;
}
h2 > a:hover, p > a:hover, li > a:hover {
	color: #fff;
}
ul > li {
	margin: 8px 0;
	text-indent: 0;
}
q {
	font-style: italic;
}


main > p {
	padding-left: 6px;
	text-indent: 1.25em;
}


/* scrollbar width */
::-webkit-scrollbar {
  	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #777;
  	border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #444;
}