@media screen and (max-width: 550px) {
	header {
		h1 {
			margin: auto;
			margin-top: 7%;
			font-size: 1.8em;
		}
		nav {
			display: none;
		}
	}

	aside {
		display: block;
	}

	#sidebar_toggle {
		display: block;
		position: fixed;
		top: 0;
		z-index: 1;
		border: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 5px 15px;
		background-color: #000;
		transition-property: left;
		transition-timing-function: linear;
	}
	#sidebar_toggle.inactive {
		left: 0;
		transition-duration: 0.2s;
	}
	#sidebar_toggle.active {
		left: 58%;
		transition-duration: 0.3s;
	}
	#sidebar_toggle {
		img {
			filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
			width: 24px;
		}
	}
	.overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0.5;
	}
	.overlay.hidden {
		display: none;
	}
	.overlay.visible {
		display: block;
	}
	#aside_content {
		position: fixed;
		top: 0;
		z-index: 2;
		width: 60%;
		height: 100%;
		padding: 10% 0;
		background-color: #000;
		transition: left 0.3s linear;

		ul {
			padding-inline-start: 0;
			list-style: none;

			hr {
				border-color: #333;
			}

			li {
				margin: 8% 0;
				padding: 2% 4%;

				a {
					color: #fff;
				}
			}
		}
	}
	#aside_content.hidden {
		left: -100%;
	}
	#aside_content.visible {
		left: 0;
	}


	main {
		margin: 5% 0;

		h2 {
			font-size: 1.2em;
		}
	}
}