* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scrollbar-width: thin;
	scrollbar-color: #aaa #000;
}

body {
	background: url(../files/background-2.jpg) bottom center no-repeat fixed;
	background-size: cover;
	background-color: #000;
	color: #eee;
	font: 12px/1.5 "Verdana", "Arial", sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}



header {
	display: flex;

	div.left_block {
		position: relative;
		width: 50%;
		padding: 0 3vw;
		background-color: rgba(0, 0, 0, 0.85);
		animation: left_to_right 2s ease-out;

		div#welcome {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 38vh 0;
			animation: left_to_right 3.5s ease-out;

			span {
				font-size: 4em;
				font-weight: bold;
			}

			span.underlined {
				width: 60%;
				border-bottom: 3px solid rgba(255, 255, 255, 0.6);
				text-align: right;
			}
		}
	}
}

@keyframes left_to_right {
	0% {
		left: -2000px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
@keyframes right_to_left {
	0% {
		right: -2000px;
		opacity: 0;
	}
	100% {
		right: 0;
		opacity: 1;
	}
}

main {
	padding: 2vh 1vw;
	background-color: rgba(0, 0, 0, 0.85);
}

section {
	position: relative;
	width: 95%;
	margin: auto;
	margin-top: 3vh;
	border: 3px solid #333;
	border-radius: 5px;
	background-color: rgba(16, 16, 20, 1);

	h2 {
		margin-top: 3vh;
		font-size: 3em;
		text-align: center;
	}

	hr {
		width: 90%;
		margin: auto;
		margin-bottom: 3vh;
		border: 2px solid #666;
	}

	div.text {
		width: 90%;
		margin: auto;
		margin-bottom: 3vh;
		color: #ddd;
		text-align: center;
		font-size: 1.8em;

		div.hard_skills {
			h3 {
				margin: 1vh 0;
				font-size: 1.6em;
			}

			b {
				font-size: 1.25em;
			}

			ul {
				margin-block-start: 0;
				margin-block-end: 0;

				li {
					padding: 0.5em 0;
					margin-left: 1em;
				}
			}

			
		}
	}
}

section#about_me {
	left: -2000px;

	div.text {
		p {
			padding: 3px 0;
		}
	}
}

section.animate.left_to_right {
	animation: left_to_right 1.5s ease-out;
	animation-fill-mode: forwards;
}
section.animate.right_to_left {
	animation: right_to_left 1.5s ease-out;
	animation-fill-mode: forwards;
}

section#more_info {
	right: -2000px;

	div.text {
		text-align: left;
		font-size: 1.5em;

		p {
			padding: 15px 0;
			text-indent: 1em;
		}
	}
}

div#flex_container {
	display: flex;
	width: 96.9%;
	margin: auto;

	section {
		height: 240px;
	}

	section#portfolio {
		width: 40%;
		left: -2000px;

		div.text {
			font-size: 1.5em;

			a {
				text-decoration: none;
				color: #777;
				font-style: italic;
				font-weight: bold;
			}

			a:hover {
				color: #555;
			}
		}
	}

	section#hire {
		width: 56%;
		right: -2000px;

		div.text {
			font-size: 1.5em;

			p {
				padding: 8px 0;
			}
		}

		a {
			text-decoration: none;
			color: #777;
			font-style: italic;
			font-weight: bold;
		}

		a:hover {
			color: #555;
		}
	}

	section#hire.animate.right_to_left {
		animation: right_to_left 2s ease-out;
		animation-fill-mode: forwards;
	}
}

footer {
	background-color: rgba(0, 0, 0, 1);
	color: #ddd;

	div.flex_container {
		display: flex;
		padding: 3vh 10vw 1vh 10vw;

		div.left, div.right {
			div {
				display: flex;
				align-items: center;

				span {
					font-size: 1.2em;
				}

				
			}
		}

		div.left {
			width: 30%;
			padding-left: 1vw;
			font-weight: bold;

			img {
				width: 40px;
				padding-right: 10px;
			}

			a {
				padding: 5px;
				text-decoration: none;
				color: #ddd;
			}

			a:hover {
				border-radius: 10px;
				background-color: #fff;
				color: #000;
			}
		}

		div.right {
			display: flex;
			justify-content: flex-end;
			width: 70%;

			div {
				margin: 0 0.5vw;

				span, span > a {
					color: #999;
					text-decoration: none;
				}

				span > a:hover {
					border-bottom: 1px solid #999;
				}

				span:not(.git)::before {
					content: "•";
					margin-right: 1vw;
				}
			}
		}
	}

	hr {
		width: 90%;
		margin: auto;
		margin-bottom: 1vh;
		border: 2px solid #333;
	}

	div#copyright {
		padding: 3vh 0;
		text-align: center;
		font-style: italic;
		color: #666;
	}
}
