@media screen and (max-width: 550px) {
	header {
		div.left_block {
			width: 80%;

			div#welcome {
				align-items: flex-start;
				padding: 36vh 0;

				span {
					display: block;
					font-size: 3.2em;
				}

				span.underlined {
					width: 100%;
					text-align: left;
				}
			}
		}
	}

	main {
		margin-top: -1px;
		padding: 2vh 0;
	}

	section {
		position: static;
		width: 97%;
		transform: scale(0);
		opacity: 0;

		h2 {
			font-size: 2.4em;
		}
	}

	section.animate.fade_in {
		animation: fade_in 0.5s ease-in;
		animation-fill-mode: forwards;
	}

	section > div.text {
		width: 93%;
		font-size: 1.3em;

		div.hard_skills {
			h3 {
				padding: 2vh 0;
				font-size: 1.4em;
				text-indent: 1em;
			}

			b {
				font-size: 1.15em;
			}
		}
	}

	section#about_me > div.text {
		width: 100%;
	}

	section#more_info > div.text {
		font-size: 1.2em;

		p {
			padding: 5px 0;
		}
	}

	div#flex_container {
		flex-direction: column;

		section#portfolio, section#hire {
			width: 100%;
			height: 100%;
		}

		section#portfolio > div.text > p > strong {
			font-size: 1.2em;
		}
	}

	footer {
		div.flex_container {
			flex-direction: column;

			div.left, div.right {
				width: 100%;
				margin-bottom: 5vh;

				div > span {
					font-size: 1.6em;
				}
			}

			div.left {
				margin-top: 3vh;

			}

			div.right {
				flex-direction: column;
				justify-content: flex-start;

				div {
					span {
						margin-top: 10px;
					}

					span::before, span:not(.git)::before {
						content: "";
						margin-right: 1vw;
					}
				}
			}
		}
	}

	@keyframes fade_in {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
}