h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 2em;
}
a.clicked {
	background-color: white;
	color: black;
}
button {
	cursor: pointer;
}


div#gallery_switches {
	text-align: center;
	padding: 30px 0;
}
div#gallery_switches > span {
	font-size: 1.5em;
	padding: 0 5px;
}
div#gallery_switches > span > a {
	transition: .3s;
	border-radius: 15px;
	padding: 5px 20px;
}
div#gallery_switches > span > a:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}


div#gallery {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-evenly;
}
div.image_container {
	height: 35vh;
	padding: 10px 0;
}
div.image_container > img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	z-index: 9999;
	border-radius: 15px;
	transition: all .3s;
}
div.image_container > img:hover {
	transform: scale(1.2);
	box-shadow: 0 0 10px black;
	cursor: pointer;
}


div#image_fullscreen_overlay_container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.98);
	
}
div#image_fullscreen_overlay_container.active {
	display: flex;
	justify-content: space-between;
	animation: scale_container 0.2s;
}
@keyframes scale_container {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#prev_photo, #next_photo {
	height: 25%;
	margin: auto 0;
	border: none;
	padding: 3.5%;
	font-size: 3em;
	background-color: transparent;
	color: #fff;
}
#prev_photo:hover, #next_photo:hover, #close_button:hover {
	background-color: #333;
}
#close_button {
	position: absolute;
	top: 1%;
	right: 1%;
	border: none;
	padding: 4px 8px;
	background-color: transparent;
}
#close_button > img {
	width: 36px;
	height: 36px;
	filter: invert(100%) sepia(63%) saturate(0%) hue-rotate(65deg) brightness(105%) contrast(101%);
}
img.image_fullscreen {
	display: block;
	width: 60vw;
	height: 80vh;
	object-fit: contain;
	padding: 30px;
	border: 2px solid gray;
	border-radius: 5px;
	margin: auto;
	margin-top: 5.5%;
	background-color: black;
	animation: scale_image 0.2s;
}
@keyframes scale_image {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}